
.pastegrab {
    background-color: black;
    overflow: hidden;
    outline: 0px none transparent;
    border: 0px none transparent;
    resize: none;
}

.term_area {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 12pt;
    visibility: visible;
    height: 100%;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    overflow: hidden;
    white-space: nowrap;
}

.log_entry {
    max-height: 200px;
    overflow: auto;
}

#log {
    height: 100%;
    overflow: auto;
}

#log > .fresh {
    background-color: #ddd;
}

.font_control {
    visibility: hidden;
}

.font_control_div {
    height: 0px;
}

.top {
    background-color: red;
    overflow: hidden;
    /* max-height: 20%; */
}

.left {
    background-color: orange;
    float: left;
    overflow: auto;
}

.middle {
    overflow: hidden;
}

.center {
    /* background-color: yellow; */
    float: left;
    /* height: 100%; */
    /* height: 200px; */
    /* width: 500px; */
    overflow-x: hidden;
    overflow-y: auto;
}

.right {
    background-color: green;
    float: left;
    overflow: hidden;
}

.bottom {
    background-color: blue;
    overflow: hidden;
    /* max-height: 20%; */
}
